
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/.qmake.stash
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/debug/main.o
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/debug/mainwindow.o
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/debug/moc_mainwindow.o
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/debug/moc_predefs.h
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/debug/untitled.exe
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/Makefile
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/Makefile.Debug
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/Makefile.Release
Qt/build-untitled-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/ui_mainwindow.h
Qt/main.py
Qt/main.py
